.header{
    background:#212121;
    font-family:"Ubuntu Mono";
   
}
.header__text{
    display:flex;
    flex-direction:row;
    gap:10px;
    left:20px;
    color:white;
    padding-left:20px;
    
}
.header h1{
    font-size:27px;
   
}
.header img{

    height:30px;
    padding-top:19px;
    
   
}